
body {                             
	background-image: url(Image/prism.png);
    font-family: Minecraftia;
    color: #F6F6F6;

}
/* Jeu d'Echec */
.plateau{
	position: absolute;
}

#Jeu{
    visibility: visible;
    position: absolute;
}
.pions_morts{
	background-color:rgba(169, 169, 169, 0.3);
	position: absolute;
}

#canvas{
	background-color: rgba(224,224,224, 0.85);
	position: absolute;
	z-index: -1;
	text-align: center;
	align-items: center;
}

#image{
	position: absolute;
	z-index: -1;
}

#text{
	position: absolute;
	background-image: linear-gradient(to bottom right, violet, indigo, blue, green, yellow, orange, red);
	z-index: -1;
	text-align: center;
}

#pions_changement{
	position: absolute;
	z-index: -1;
}

.pions_changement{
	margin-right: -4px;
	margin-bottom: -5px;
	background-color: gray;
	position: relative;
}

#QI_blanc{
	color: white;
	position: absolute;
}


#QI_noir{
	color: rgb(37, 150, 190);
	position: absolute;
}

/* Fin Jeu d'Echec */

#Livre{
    visibility: hidden;
}

#open{
    position: absolute;
    visibility: visible;
    margin-top: 150px;
}
h2{
    padding-left: 20px;
}

img{
    pointer-events: all;
}

a{
    pointer-events: all;
}

.Haut{
    position: absolute;
    width: 1450px;
    height: 223px;
}
/* Class */
.Milieu{
    position: absolute;
    margin-top: 220px;
    width: 1450px;
    height: 289px;
}

#Som{
    position: absolute;
    margin-top: 20px;
    margin-left: 500px;
}
#Sous_Som{
    position: absolute;
    width: 200px;
}


.Page{
    margin-top: 60px;
    margin-left: 100px;
    width: 1450px;
    height: 820px;
    position: absolute;
    pointer-events: none;
}

.ligne{
    width: 200px;
    height: 0px;
    border: 4px solid #F6F6F6;
    border-radius: 4px;
    transform: rotate(90deg);
    position: absolute;
}

.Pied{
    color: red;
    padding-left: 250px;
}
/* */
/* ID */
#gauche, #droite{
    height: 900px;
    position: absolute;
}

#Titre{
    position: absolute;
    margin-top: 0px;
    margin-left: 300px;
    font-size: 6em;
    font-family: Minecraftia;
}

#point{
    position: absolute;
    margin-top: 136px;
    margin-left: 310px;
    background: #F6F6F6;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

#sous_titre{
    font-size: 0.7em;
    margin-top: 130px;
    margin-left: 320px;
}


#Partie{
    width: 300px;
    padding-left: 100px;
    pointer-events: none;
}

#carnet{
    position: absolute;
    padding-left: 0px;
    margin-top: 30px;
}

#quit{
    position: absolute;
    z-index: 6;
    margin-left: 1450px;
}

#fleche_gauche{
    position: absolute;
    margin-top: 820px;
    margin-left: 1400px;
}

#fleche_droite{
    position: absolute;
    margin-top: 820px;
    margin-left: 1500px;
    transform: rotate(180deg);
}

.Echec{
    position: absolute;
    margin-left: 150px;

}

.Bas{
    position: absolute;
    margin-top: 510px;
    width: 1450px;
    height: 310px;
}
#move{
    position: absolute;
    width: 250px;
}

#savoir{
    margin-left: 10px;
}

#click{
    color: aqua;
}
.Regle{
    position: absolute;
    margin-left: 250px;
}
.Dame{
    position: absolute;
    margin-left: 350px;

}
.Roi{
    position: absolute;
    margin-left: 450px;

}
.Tour{
    position: absolute;
    margin-left: 550px;

}
.Cavalier{
    position: absolute;
    margin-left: 650px;

}
.Fou{
    position: absolute;
    margin-left: 750px;

}
.Pion{
    position: absolute;
    margin-left: 850px;

}
.Roc{
    position: absolute;
    margin-left: 900px;

}
.Pris{
    position: absolute;
    margin-left: 950px;

}
.Credits{
    position: absolute;
    margin-left: 950px;

}
.Autre{
    position: absolute;
    margin-left: 1050px;


}
.ah{
    position: absolute;
    margin-left: 1350px;


}

#milieu{
    position: absolute;
    margin-top: 165px;
    margin-left: 100px;

}

#g1, #g2, #g3, #g4, #g5, #g6, #g7, #g8, #g9, #g10, #g11, #g12, #g13{
    width: 67px;
    height: 67px;
    z-index: 5;
    pointer-events: none;
}